body {
    background-size: contain; 
    background-image:url('images/GIF.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.message {
    color: red;
    font-family: monospace;
    font-size: 30px;
}
.message2 {
    color:red;
    position: fixed;
    font-family: monospace;
    font-size: 30px;
}
.screen2 {
    background-image:url('images/square.jpg');
    background-size: cover;
    margin: 0%;
}
.player {
    max-height: 300px;
    max-width: 300px;
    position: fixed;
    /* position: absolute; */
}
.NEXT {
    font-family: monospace;
}