body {
    background-size: contain; 
    background-image:url('GIF.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
.message {
    color: white;
}